<html>
  <head><title>Is it on EC2?</title></head>
    <style type="text/css" media="screen">
      body {
        margin: 100px auto;
        background-color: lightgrey;
        text-align: center;
        color: white;
        font-size: 24px;
      }
      
      input[type=text] {
        font-size: 24px;
        text-align: center;
        margin: 20px auto;
        margin-top: 5px;
        margin-bottom: 20px;
        display: block;
      }
      
      input[type=submit] {
        border: black 1px solid;
        font-size: 16px;
        background: #ffffff;
        margin-bottom: 10px;
      }
      
      a, a:visited, a:hover, a:active {
        text-decoration: none;
        color: white;
      }
    </style>
  
  <body>
    <%= yield %>
  </body>
</html>


